body {
  height: 100%;
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 768px;
}

.content-offset {
  margin-top: 10px; 
}

.well {
  background-color: #fff;
  padding: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.form-legend {
  font-size: 3em;
  font-weight: bold;
}

